
<h1 class="mat-card-header" style="text-align:center;" >catalog</h1>
 
<div class="cards">
 
 
<!--auto list:-->
  <div class="el-wrapper"   *ngFor="let product_item of productsList" >
    <div class="box-up">
      <img class="img" type="image/x-icon"  style="height: 100%; width: 100% " src="{{product_item.url}}" alt="">

      <div class="img-info">
        <div class="info-inner" >
          <span style=" background-color:white; display:inline; " class="p-name">{{product_item.name}}</span>
          <br/>
          <span style=" background-color:white; display:inline; " class="p-company">{{product_item.makerName}}</span>
        </div>
        <div class="a-size">Quantity: <span class="size">{{product_item.quantity}}</span></div>
      </div>
    </div>

    <div class="box-down">
      <div class="h-bg">
        <div class="h-bg-inner"></div>
      </div>

      <a class="cart"  type="button" >
        <span class="price">₪{{product_item.price}}</span>
        <span class="add-to-cart">
              <span class="txt">Add in cart</span>
            </span>
      </a>
    </div>
  </div>




</div>


