

<h1 class="mat-card-header" style="text-align:center">catalog</h1>



<div class="cards">
    <div class="el-wrapper">
      <div class="box-up">
        <img class="img" style="height: 100%; width: 100%" src="assets/images/13.jpg" alt="">
        <div class="img-info">
          <div class="info-inner">
            <span class="p-name">עוף עם אורז</span>
            <span class="p-company">קיטרינג החוף</span>
          </div>
          <div class="a-size">Quantity: <span class="size">20</span></div>
        </div>
      </div>

      <div class="box-down">
        <div class="h-bg">
          <div class="h-bg-inner"></div>
        </div>

        <a class="cart"  type="button" >
          <!-- <a class="cart" href="#" >-->
          <span class="price">₪120</span>
          <span class="add-to-cart">
              <span class="txt">Add in cart</span>
            </span>
        </a>
      </div>
    </div>


  <div class="el-wrapper">
    <div class="box-up">
      <img class="img" style="height: 100%; width: 100%" src="assets/images/12.jpg" alt="">
      <div class="img-info">
        <div class="info-inner">
          <span class="p-name">קציצות</span>
          <span class="p-company">אולמי השרון</span>
        </div>
        <div class="a-size">Quantity: <span class="size">12</span></div>
      </div>
    </div>

    <div class="box-down">
      <div class="h-bg">
        <div class="h-bg-inner"></div>
      </div>

      <a class="cart"  type="button" >
        <!-- <a class="cart" href="#" >-->
        <span class="price">₪120</span>
        <span class="add-to-cart">
              <span class="txt">Add in cart</span>
            </span>
      </a>
    </div>
  </div>


  <div class="el-wrapper">
    <div class="box-up">
      <img class="img" style="height: 100%; width: 100%" src="assets/images/9.jpg" alt="">
      <div class="img-info">
        <div class="info-inner">
          <span class="p-name">עוף בתנור</span>
          <span class="p-company">אפיה ביתית</span>
        </div>
        <div class="a-size">Quantity: <span class="size">26</span></div>
      </div>
    </div>

    <div class="box-down">
      <div class="h-bg">
        <div class="h-bg-inner"></div>
      </div>

      <a class="cart"  type="button" >
        <!-- <a class="cart" href="#" >-->
        <span class="price">₪120</span>
        <span class="add-to-cart">
              <span class="txt">Add in cart</span>
            </span>
      </a>
    </div>
  </div>




  <div class="el-wrapper">
    <div class="box-up">
      <img class="img"  style="height: 100%; width: 100%"  src="assets/images/2.jpg" alt="">
      <div class="img-info">
        <div class="info-inner">
          <span class="p-name">פלאפל</span>
          <span class="p-company">פלאפליה</span>
        </div>
        <div class="a-size">Quantity: <span class="size">36</span></div>
      </div>
    </div>

    <div class="box-down">
      <div class="h-bg">
        <div class="h-bg-inner"></div>
      </div>

      <a class="cart"  type="button" >
        <!-- <a class="cart" href="#" >-->
        <span class="price">₪120</span>
        <span class="add-to-cart">
              <span class="txt">Add in cart</span>
            </span>
      </a>
    </div>
  </div>



  <div class="el-wrapper">
    <div class="box-up">
      <img class="img" type="image/x-icon"  style="height: 100%; width: 100% " src="assets/images/1.jpg" alt="">

      <div class="img-info">
        <div class="info-inner">
          <span class="p-name">פיצה</span>
          <span class="p-company">פיצריה</span>
        </div>
        <div class="a-size">Quantity: <span class="size">82</span></div>
      </div>
    </div>

    <div class="box-down">
      <div class="h-bg">
        <div class="h-bg-inner"></div>
      </div>

      <a class="cart"  type="button" >
        <!-- <a class="cart" href="#" >-->
        <span class="price">₪120</span>
        <span class="add-to-cart">
              <span class="txt">Add in cart</span>
            </span>
      </a>
    </div>
  </div>



</div>


