<app-loading [condition]="isLoading"></app-loading>
<div style="text-align:center">
  <mat-card-header>
    {{title}}
  </mat-card-header>
  <div>
    <p mat-divider></p>
  </div>
  <mat-card-subtitle>
    <img src="./../../assets/images/chatroom.jpg">
  </mat-card-subtitle>

  <div *ngIf="!userId" class="form-box">
    <h3>Join room</h3>


    <form #chatInfoForm="ngForm" (ngSubmit)="joinRoom()">

      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="username" name="name" #name="ngModel">

      <button type="submit" class="btn btn-success" [disabled]="!chatInfoForm.form.valid">Join</button>
    </form>
  </div>
</div>

<ng-chat *ngIf="userId" [adapter]="adapter" [userId]="userId" [historyEnabled]="false"
  [fileUploadUrl]="'http://localhost:3000/chatUploadFile'" [theme]="'dark-theme'"></ng-chat>