<div class="container page-height my-5">
  <div *ngIf="!posts" class="text-center">No Post Created.</div>
  <div *ngIf="posts">
    <div *ngFor="let post of posts">
      <div class="card mb-4">
        <div class="card-header">
          <h1 class="card-title">{{ post.title }}</h1>
        </div>
        <div class="card-body">
          <img class="img-thumbnail" [src]="post.imagePath" width="200px" height="200px" alt="Card image cap">
          <p class="card-text">{{ post.body }}</p>
          <a routerLink="post/{{ post._id }}" class="btn btn-primary">Read More &rarr;</a>
        </div>
        <div class="card-footer text-muted">
          Posted by {{ post.userName }} on {{ post.date }}
        </div>
      </div>
    </div>
  </div>
</div>
